
<p id="notice"><%= notice %></p>

<p>
  <b>Tags:</b>
  <%= @song.tag_list %>
</p>
<p>
  <b>Cover:</b>
<% if @song.cover? %>
  <%= image_tag @song.cover.url %>
  <br />
  <%= link_to @song.cover.url, @song.cover.url %>
<% end %>

</p> 
<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Author:</b>
  <%= @song.author %>
</p>

<p>
  <b>Album:</b>
  <%= @song.album %>
</p>

<p>
  <b>Year:</b>
  <%= @song.year %>
</p>

<p>
  <b>Length:</b>
  <%= @song.length_min %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
